:root {
    color-scheme: dark;
    /* Color Variables */
    --input-focus-h: 220; 
    --input-focus-s: 100%;
    --input-focus-l: 32%; 
    --input-border: #0375ff; 
    --input-disabled: var(--secondary);
    --background-disabled: #2c2c2c; 
    --primary: #ffffff; /* Cambiar a color blanco */
    --secondary: #cccccc; /* Cambiar a color gris claro */
    --light: #363535; /* Cambiar a color negro */
    --accent-alt: #6ba6ec; 
    --button-bg: var(--input-border);
    --accent: var(--input-border);
    --form-control-color: var(--input-border);
    --select-arrow: var(--input-border);
    --filter-color: 0%; /* Cambiar color de material iconos */
}