:root{
    --with: 35vw;
}

*{
    margin: 0;
    padding: 0;
    background-color: #585858;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tarjeta{
    width: var(--with);
    height: var(--with);
    background-color: rgba(0,0,0,1);
    border-radius: 10%;
    box-shadow: 16px 14px 20px rgba(51,51,51,1);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta::before{
    content: '';
    position: absolute; 
    width: calc(var(--with) + 6vw);
    height: calc(var(--with) + 12vw);
    background-image: conic-gradient(#51ff00 5deg, transparent 120deg);
    animation: rotar 3s linear infinite;
}

@keyframes rotar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.tarjeta::after{
    content: '';
    position: absolute; 
    width: calc(var(--with) - 1vw);
    height: calc(var(--with) - 1vw);
    background-color: rgba(0,0,0,1);
    border-radius: 10%;
}